table {
    width: 100%;
    border-spacing: 0;
  }
  
  h2 {
      font-size: large;
  }
  
  a {
    text-decoration: none;
    color: #f3f3f3;
  }
  
  .race-tittle > span {
    color: #9f9f9f;
  }
  
  .header {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 3rem;
    color: #f3f3f3;
    text-align: left;
  }
  
  .table-item {
    background-color: rgba($color: #9f9f9f, $alpha: 0.35);
    border-radius: 50px;
  }
  
  .table-item:nth-child(even) {
    background-color: rgba($color: #9f9f9f, $alpha: 0.15);
  }
  
  tr {
    width: 100%;
  }

  tr > * {
    padding-left: 5px;
  }
  
  td {
    height: 2rem;
    padding: 5px;
    font-size: 12px;
    color: rgba($color: #000000, $alpha: 0.7);
  }
  
.perspectiva {
  background-color: #9f9f9f;
}
 
.macroproceso {
  background-color: #f3f3f3;
}